<div class="container-fluid"><h2 class="h2"> Win a Free Trip Contest!</h2> </div>

  <form class="form-horizontal" role="form" enctype="multipart/form-data" action="/contest/vacacion-photo/{year}/{month}" method="post">
    <div class="form-group">
      <label for="fieldName" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="name" id="fieldname">
      </div>
    </div>

<div class="form-group">
  <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-4">
    <input type="email" class="form-control" name="email" id="fieldName">
  </div>
</div>

<div class="form-group">
  <label for="fieldPhoto" class="col-sm-2 control-label">Vacacion Photo</label>
  <div class="col-sm-4">
    <input type="file" class="form-control" required accept="image/*" name="photo" id="fieldPhoto">
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
  </form>
