{{#section 'head'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
<script id="nurseryRhymeTemplate" type="text/x-handlebars-template">
Marry has a little <b>\{{animal}}</b>, its <b>\{{bodyPart}}</b>
was <b>\{{adjective}}</b> as <b>\{{noun}}</b>.
</script>
{{/section}}

<div id="nurseryRhyme">Click a button...</div>
<hr>
<button id="btnNurseryRhyme">Generate a nursery rhyme</button>
<button id="btnNurseryRhymeAjax">Generate a nursery Rhyme from Ajax</button>

{{#section 'jquery'}}
<script>
$(document).ready( ()=>{
  let nurseryRhymeTemplate = handlebars.compile(
    $('#nurseryRhymeTemplate').html() );

    let $nurseryRhyme = $('#nurseryRhyme');

    $('#btnNurseryRhyme').on('click', (evt)=>{
      evt.preventDefault();
      $nurseryRhyme.html(nurseryRhymeTemplate({
        animal: 'basilisk',
        bodyPart: 'tail',
        adjective: 'sharp',
        noun: 'a needle'
      }));
    });

    $('#btnNurseryRhymeAjax').on('click', (evt)=>{
      evt.preventDefault();
      $.ajax('/data/nursery-rhyme', {
        success: (data)=>{
          $nurseryRhyme.html(
            nurseryRhymeTemplate(data))
          }
        });
      });
    });
    </script>
    {{/section}}
